@mixin themed-tabs($theme) {
  // I don't know of a better way to do this other than duplicate the styles
  // in the carbon theme context.
  @include carbon--theme($theme) {
    // Re-apply the tabs styles with the new dark theme.
    color: $text-01;
    background: $ui-01;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -$spacing-08;
      right: -$spacing-08;
      top: 0;
      bottom: 0;
      z-index: -1;
      background: $ui-01;
    }

    &.#{$prefix}--tabs--scrollable--container .#{$prefix}--tab--overflow-nav-button {
      background-color: $ui-03;
    }

    &.#{$prefix}--tabs--scrollable--container .#{$prefix}--tabs--scrollable__nav-item {
      background-color: $ui-03;
    }
    &.#{$prefix}--tabs--scrollable--container .#{$prefix}--tabs--scrollable__nav-item:hover {
      background-color: $hover-selected-ui;
    }

    &.#{$prefix}--tabs--scrollable--container
      .#{$prefix}--tabs--scrollable__nav-item.#{$prefix}--tabs--scrollable__nav-item--disabled,
    &.#{$prefix}--tabs--scrollable--container
      .#{$prefix}--tabs--scrollable__nav-item.#{$prefix}--tabs--scrollable__nav-item--disabled:hover {
      background-color: $disabled-02;
    }
    .#{$prefix}--tabs--scrollable__nav-item--selected .#{$prefix}--tabs--scrollable__nav-link,
    .#{$prefix}--tabs--scrollable__nav-item--selected .#{$prefix}--tabs--scrollable__nav-link:focus,
    .#{$prefix}--tabs--scrollable__nav-item--selected
      .#{$prefix}--tabs--scrollable__nav-link:active {
      color: $text-01;
      border-bottom: 2px solid $interactive-04;
    }

    &.#{$prefix}--tabs--scrollable--container .#{$prefix}--tabs--scrollable__nav-item--selected,
    &.#{$prefix}--tabs--scrollable--container
      .#{$prefix}--tabs--scrollable__nav-item--selected:hover {
      background-color: $ui-01;
    }

    &.#{$prefix}--tabs--scrollable--container
      .#{$prefix}--tabs--scrollable__nav-item--selected
      .#{$prefix}--tabs--scrollable__nav-link {
      box-shadow: inset 0 2px 0 0 $interactive-04;
    }

    &.#{$prefix}--tabs--scrollable--light.#{$prefix}--tabs--scrollable--container
      .#{$prefix}--tabs--scrollable__nav-item--selected,
    &.#{$prefix}--tabs--scrollable--light.#{$prefix}--tabs--scrollable--container
      .#{$prefix}--tabs--scrollable__nav-item--selected:hover {
      background-color: $ui-background;
    }
    .#{$prefix}--tabs--scrollable__nav-link {
      color: $text-02;
      border-bottom: $tab-underline-color;
    }

    .#{$prefix}--tabs--scrollable__nav-item:hover .#{$prefix}--tabs--scrollable__nav-link {
      color: $text-01;
      border-bottom: $tab-underline-color-hover;
    }
    .#{$prefix}--tabs--scrollable__nav-item--disabled .#{$prefix}--tabs--scrollable__nav-link {
      color: $tab-text-disabled;
      border-bottom: $tab-underline-disabled;
    }

    .#{$prefix}--tabs--scrollable__nav-item--disabled:hover
      .#{$prefix}--tabs--scrollable__nav-link {
      color: $tab-text-disabled;
      border-bottom: $tab-underline-disabled;
    }

    .#{$prefix}--tabs--scrollable__nav-item--disabled .#{$prefix}--tabs--scrollable__nav-link:focus,
    .#{$prefix}--tabs--scrollable__nav-item--disabled
      .#{$prefix}--tabs--scrollable__nav-link:active {
      border-bottom: $tab-underline-disabled;
    }

    .#{$prefix}--tabs--scrollable--light
      .#{$prefix}--tabs--scrollable__nav-item--disabled
      .#{$prefix}--tabs--scrollable__nav-link {
      border-bottom-color: $ui-03;
    }

    .#{$prefix}--tabs--scrollable--light
      .#{$prefix}--tabs--scrollable__nav-item--disabled:hover
      .#{$prefix}--tabs--scrollable__nav-link {
      border-bottom-color: $ui-03;
    }

    .#{$prefix}--tabs--scrollable--light
      .#{$prefix}--tabs--scrollable__nav-item--disabled
      .#{$prefix}--tabs--scrollable__nav-link:focus,
    .#{$prefix}--tabs--scrollable--light
      .#{$prefix}--tabs--scrollable__nav-item--disabled
      .#{$prefix}--tabs--scrollable__nav-link:active {
      border-bottom-color: $ui-03;
    }

    &.#{$prefix}--tabs--scrollable--container
      .#{$prefix}--tabs--scrollable__nav-item--disabled
      .#{$prefix}--tabs--scrollable__nav-link {
      color: $disabled-03;
    }
  }
}
