@import './overrides.scss';
@import '../../components/WidgetsTable/widgets-table.scss';

.widgets-table-page {
  margin-top: $layout-04;
  .bx--row {
    padding-top: $spacing-05;
    padding-bottom: $spacing-05;
  }
}

.status {
  &--stable {
    background-color: chartreuse;
  }
  &--beta {
    background-color: darkorange;
  }
  &--wip {
    background-color: yellow;
  }
  &--deprecated {
    background-color: gray;
  }
}
